<div id="card">
    <div id="inside">
        <header>
            <div class="left">
                <div id="name">{{name}}</div>    
            </div>
            <div class="right">
                <div id="hp">{{hp}}</div>
                <img class="energy" src="img/caca.png">
            </div>
        </header>
        <figure id="art">
            <img src="{{imageUrl}}">
            <figcaption>{{figureCaption}}</figcaption>
        </figure>
        <div id="capacities">
            <div class="capacity">
                <div class="main">
                    <div class="cost">
                        <img class="energy" src="img/caca.png">
                        <img class="energy" src="img/caca.png">
                    </div>
                    <div class="name">{{attackName}}</div>
                    <div class="damage">{{attackStrength}}</div>
                </div>
            </div>
            <div class="description">
                {{attackDescription}}
            </div>
        </div>
    </div>
</div>